@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.display-font {
  font-family: "Bebas Neue", cursive;
}

.outback-text {
  font-family: 'Poiret One', cursive;
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.item {
  min-height: 20rem;
  min-width: 15rem;
}


@layer base {
  .bg-primary {
    @apply bg-blue-800;
  } 

  .bg-light {
    @apply bg-neutral-100;
  }

  .text-blue {
    @apply text-blue-800;
  }

  .text-light {
    @apply text-neutral-100;
  }

  .text-red {
    @apply text-red-500;
  }

  .text-dark {
    @apply text-slate-700;
  }

  .text-gray {
    @apply text-gray-600;
  }
}

@layer components {
  
}